@import url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff');
html, *{
  box-sizing: border-box;
  padding:0;
  margin:0;
  font-family: 'GmarketSansMedium', sans-serif;
}